/* Variables */

:root {
    /* text colors */
    --main-txt-cl: #2E2F42;
    --secondary-txt-cl: #434455;
    --accent-txt-cl: #4D5AE5; 
    --white-txt-cl:  #FFFFFF;

    /* BG colors */
    --main-bg-cl: #FFFFFF;
    --secondary-bg-cl: #2E2F42;
    --additional-bg-cl: #F4F4FD;
    --accent-bg-cl: #404BBF;

    /* Transition properties */
    --trns: 400ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Base styles */

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

img {
    display: block;
}

button {
    cursor: pointer;
}

.link {
    text-decoration: none;
    color: currentColor;
}

.list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.container {
    width: 1158px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    letter-spacing: 0.02em;
    background-color:  var(--main-bg-cl);
    color: var(--main-txt-cl);
}

/* Section header */

.header-container {
    display: flex;
    height: 72px;
    align-items: center;
}

.logo {
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 800;
    font-family: 'Raleway', sans-serif;
    color: var(--accent-bg-cl);
    letter-spacing: 0.03em;
    line-height: calc(24 / 18);
    margin-right: 76px;
}

.accent {
    color: var(--main-txt-cl);
}

.nav-list {
    display: flex;
    text-align: center;
    gap: 40px;
}
.nav-link {
    display: block;
    position: relative;
    padding-top: 24px;
    padding-bottom: 24px;
    font-weight: 500;
    line-height: calc(24 / 16);
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    transition: color var(--trns);
}

 .nav-link:hover,
 .nav-link:focus {
    color: var(--accent-bg-cl);
}

.nav-link.current::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 4px;
    background-color: var(--accent-bg-cl);
    border-radius: 2px;
}

.address {
    margin-left: auto;  
}

.address-list {
    color: var(--secondary-txt-cl);
    text-decoration: none;
    font-style: normal;
    line-height: calc(24 / 16);
    cursor: pointer;
    display: flex;
    margin-left: auto;  
    gap: 40px;
}

.address-link {
    color: var(--secondary-txt-cl);
    text-decoration: none;
    font-style: normal;
    line-height: calc(24 / 16);
    cursor: pointer;
    transition: color var(--trns);
}

.address-link:hover,
.address-link:focus {
    color: var(--accent-txt-cl);          
}

/* Section slogan */

.section-slogan {
    background-color: var(--secondary-bg-cl);
    height: 600px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 188px;
    padding-bottom: 188px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/title/people-office\ 1.jpg); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1440px;
}

.slogan-title {
    font-size: 56px;
    line-height: calc(60 / 56);
    color: var(--white-txt-cl);
    letter-spacing: inherit;
    width: 494px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px; 
}

.button-order {
    background: var(--accent-txt-cl);
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.04em;
    line-height: calc(24 / 16);
    color: var(--white-txt-cl);
    padding: 16px 32px;
    border-radius: 4px;
    border: none;
    transition: background-color var(--trns);
} 

.button-order:hover,
.button-order:focus {
    background-color: var(--accent-bg-cl);
}

/* Section features */

.section-features,
.section-team {
    padding-top: 120px;
    padding-bottom: 120px;
}

.features-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.features-svg {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
    width: 264px;
    height: 112px;
    background-color: var(--additional-bg-cl);
    border-radius: 4px;
}

/* Section mission */

.section-mission {
    height: 532px;
    padding-bottom: 120px;
    text-align: center;
}

.list-pics {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.header-2 {
    font-size: 36px;
    line-height: calc(40 / 36);
    margin-bottom: 72px;
}

.header-3 {
    font-weight: 500;
    font-size: 20px;
    line-height: calc(24 / 20);
    margin-bottom: 8px;
}

.paragraph {
    line-height: calc(24 / 16);
    color: var(--secondary-txt-cl);
}

/* Section team */

.section-team {
    background-color: var(--additional-bg-cl);
    height: 732px;
    padding-top: 120px;
    padding-bottom: 120px;
    text-align: center;
}

.team-card {
    background: var(--main-bg-cl);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}

.paragraph-team {
    margin-bottom: 20px;
}

.team-card-txt {
    text-align: center;
    padding: 32px 0px;   
}

.socials-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.socials-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4D5AE5;
    transition: background-color var(--trns);
}

.socials-link:hover,
.socials-link:focus {
    background-color: var(--accent-bg-cl);
}

/* Section customers */

.section-customers {
    padding-top: 130px;
    padding-bottom: 120px;
    text-align: center; 
}

.customers-list {
    display: flex;
    gap: 24px;
    flex-basis: calc((100% - 24px*5) / 6);
}

.customers-link {
    display: flex;
    width: 168px;
    padding: 16px 32px;
    fill: #8E8F99;
    border: 1px solid #8E8F99;
    border-radius: 4px;
    cursor: pointer;
    transition: border-color var(--trns), fill var(--trns) 250ms;
}

.customers-link:hover,
.customers-link:focus {
    fill: var(--accent-bg-cl);
    border-color: var(--accent-bg-cl);
}

/* Portfolio page */
/* Section buttons */
    
.header-portfolio {
    border-bottom: 1px solid #E7E9FC;
}

.section-portfolio {
    padding-top: 96px;
    padding-bottom: 120px;
    max-height: 1692px;
}

.button-filter {
    background: var(--additional-bg-cl);
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(24 / 16);
    color: var(--accent-txt-cl);
    border-radius: 4px;
    padding: 12px 24px;
    border: 1px solid #E7E9FC;
    transition: color var(--trns), background-color var(--trns), border-color var(--trns), box-shadow var(--trns);
}

.button-filter:hover,
.button-filter:focus {
    background-color: var(--accent-bg-cl);
    color: var(--white-txt-cl);
    border-color: var(--accent-bg-cl);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.list-button-filter {
    display: flex;
    justify-content: center;
    margin-bottom: 72px;
    margin-left: auto;
    margin-right: auto;
    gap: 24px;
}

/* Section portfolio */

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;  
    row-gap: 48px;
}

.portfolio-link {
    text-decoration: none;
    position: relative;
}

.portfolio-item {
    flex-basis: calc((100% - 48px) / 3);
    transition: box-shadow var(--trns);
}

.card-item {
    border-right: 1px solid #E7E9FC;
    border-bottom: 1px solid #E7E9FC;
    border-left: 1px solid #E7E9FC;
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 16px;
    margin-bottom: 48px;
    color: var(--main-txt-cl);
}

.card-item:active {
    color: var(--main-txt-cl);
}

.portfolio-item:hover,
.portfolio-item:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.card-item:nth-last-child(-n + 3) {
    margin-bottom: 0px;
}

.overlay {
    position: relative;
    overflow: hidden;   
}

.overlay-card {
    position: absolute;
    width: 360px;
    height: 300px;
    top: 0px;
    left: 0px;
    line-height: calc(24 / 16);
    color: #F4F4FD;
    background-color: #4D5AE5;
    padding: 40px 32px 164px 32px;
    transform: translateY(100%);
    transition: transform var(--trns);
}

.portfolio-link:hover .overlay-card,
.portfolio-link:focus .overlay-card {
    transform: translateY(0);
}


/* Section footer */

.footer {
    background-color: var(--secondary-bg-cl);
    color: var(--white-txt-cl);
    padding-top: 100px;
    padding-bottom: 100px;
    line-height: calc(24 / 16);
    text-align: left;
}

.accent-footer {
    color: var(--white-txt-cl);
}

.footer-info {
    display: flex;
}

.footer-left {
    width: 264px;
    margin-right: 120px;
}

.footer-txt {
    margin-top: 16px;
}
.footer-media {
    font-weight: 500;
    margin-bottom: 16px;
}

.footer-socials-list {
    display: flex;
    width: 208px;
    align-items: flex-start;
    gap: 16px;
}

.footer-socials-link {
    display: flex;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color var(--trns);
}

.footer-socials-link:hover,
.footer-socials-link:focus {
    background-color: #31D0AA;
}

/* Modal window */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity var(--trns), visibility var(--trns);
    transition-delay: 250ms;
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal {
    width: 408px;
    min-height: 576px;
    background: #FCFCFC;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    transition: transform 750ms ease;
}

.backdrop.is-hidden .modal {
    transform: scale(0.5);
    opacity: 0.25; 
   
}

.modal-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: #E7E9FC;
}
/* .modal-icon {
    
}  */